RewriteEngine on

<IfModule mod_headers.c>

    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods: "GET, POST, DELETE, PUT"
</IfModule>


RewriteCond %{REMOTE_ADDR} !^172.16.25.54
RewriteCond %{REQUEST_URI} !/conexion/index.php$ [NC]
RewriteRule .* /conexion/index.php [L]